#container {
  display: flex;
  flex-direction: column; /* Para que los items estén uno arriba del otro */
  justify-content: center; /* Centra los items verticalmente */
  align-items: center; /* Centra los items horizontalmente */
  height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
  
}



.imagen{
width: 300px;
height: 300px;
}